<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工资计算器</title>
</head>
<body>
    <h1>hello</h1>
    <form action="/get_cal/" method="post">
        教师星级:
        <input name="star_level" value="1"><br>
        小学课时数:
        <input name="first" value="0"><br>
        初一初二课时数:
        <input name="second" value="0"><br>
        初三课时数:
        <input name="third" value="0"><br>
        高一高二课时数:
        <input name="forth" value="0"><br>
        高三课时数:
        <input name="fifth" value="0"><br>
        <input type="submit">
    </form>
</body>
</html>